SLACK_WEBHOOK_URL=
ENABLE_CLOUDWATCH=false
CLOUDWATCH_LOG_GROUP=network-service-monitoring-platform
CLOUDWATCH_STREAM_NAME=fastapi-monitoring-service
REDIS_HOST=localhost
REDIS_PORT=6379

EMAIL_ALERTS_ENABLED=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
ALERT_EMAIL_FROM=
ALERT_EMAIL_TO=